<html>
    <head>
        <title> Osham Fashion Comunity </title>
        <style>
            body{
                background-image: url('../Assets/images/background.jpg');
                background-size: 100% 100%;
                background-repeat: no-repeat;
            }
            #top-bar{
                background-color:#550055;
                width:100%;
                height:50px;
            }
            #top-right{
                margin-left:90%;
                margin-top:-35px;
            }
        </style>
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="top-bar">
            <div id="top-left">
                <img src="../Assets/images/oshamfashion.png" width="120" height="50"/>
            </div>
            <div id="top-right">
                <a href="login.html"><i class="fa fa-user" style="color:#ffffff ;font-size:24px"></i></a>
            </div>
        </div>
    </body>
</html>