<!DOCTYPE html>
<html>
<head>
    <title>
        Sign Up
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="authors" content="Adriana Valenzuela, Mayra Ruíz, Roberto Ruíz">
    <meta name="property" content="ITESM CAMPUS MONTERREY">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../Assets/css/log.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>

        #top-bar{
            background-color:#550055;
            width:100%;
            height:50px;
        }
        #top-right{
            margin-left:90%;
            margin-top:-35px;
        }
        #signupError{
            background-color:rgba(185, 0, 0, .8);
            width: 89%;
            text-align: center;
            padding: 5px;
            color: white;
            border-radius: 3px;
        }
    </style>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<div id="top-bar">
    <div id="top-left">
        <img src="../Assets/images/oshamfashion.png" width="120" height="50"/>
    </div>
    <div id="top-right">
        <a href="login.html"><i class="fa fa-user" style="color:#ffffff ;font-size:24px"></i></a>
    </div>
</div>
<div id="principal">
    <ul class="nav nav-tabs">
        <li><a href="login.html"><h3>Log In</h3></a></li>
        <li class="active"><a href="#"><h3>Sign Up</h3></a></li>
    </ul>
    <form id="signupform" method="post">
        <div id="input">
            <br/><br/>
            <input type="email" required name="user" placeholder="Correo" class="form-control" style="width:300px;height:40px;color:#646464;font-size:1.3em"/>
            <br/><br/>
            <input type="password" required name="password" placeholder="Contraseña" class="form-control" style="width:300px;height:40px;color:#646464;font-size:1.3em"/>
            <br/><br/>
            <input type="password" class="form-control" name="passwordConfirm" placeholder="Confirma tu Contraseña" style="width:300px;height:40px;color:#646464;font-size:1.3em"/>
            <br/>
            <div id="signupError" hidden>Placeholder</div>
            <br/>
            <input type="submit" id="entrar" class="btn btn-default" name="entrar" value="Sign Up" />
            <br/></br/><br/>

        </div>
    </form>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#signupform").submit(function(event){
            $("#signupError").slideUp(500);
            event.preventDefault();
            $.ajax({
                type: "POST",
                url: "../Controller/signup.php",
                data: $(this).serialize(),
                success: function(data){
                    if(data == "ok"){
                        window.location = "./profileSave.html";
                    } else {
                        $("#signupError").html(data);
                        $("#signupError").slideDown(500);
                    }
                }
            });

        });
    });

</script>

</body>
</html>